:root {

}

*, *::before, *::after {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

#container {
   width: 400px;
   border: 2px solid black;
   border-radius: 15px;
   padding: 20px;
}

#display {
   padding: 10px 20px;
   border: 2px black solid;
   border-radius: 5px;
   text-align: right;
   margin-bottom: 20px;
}

#firstOperationScreen {
   min-height: 40px;
   font-size: 40px;
}

#secondOperationScreen {
   min-height: 60px;
   font-size: 25px;
}

.btn {
   padding: 20px;
   border: 2px black solid;
   border-radius: 5px;
   font-size: 20px;
   cursor: pointer;
}
.buttons-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 10px;
}
